<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}{{ globalData.settings.webtitle }}{% endblock %}</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"><!-- Optional theme -->
    </head>

    <body>
    {% block nav %}
        <!-- nav menu -->
    {% endblock %}
    
        <div class="container">
            {% block messages %}
                {% if messages %}
                    {{ message }}
                {% endif %}
            {% endblock %}
            
            {% block content %}
                <!-- Other pages content -->
            {% endblock %}
        </div>

    {% block footer %}
        <footer class="footer">
            <div class="container">
            </div>
        </footer>
    {% endblock %}

    {% block loadlast %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script><!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
        <script type="text/javascript">
            var GLOBALDATA = {{ globalData|json|safe }};
            var serverip = GLOBALDATA.settings.serverip;
            var serverport = GLOBALDATA.settings.serverport;
            var socket = io.connect('https://' + serverip + ':' + serverport, { secure: true });

            $("#submit").click(function() {
                var input = $('#input').val();
                socket.emit('bid', input);
            });

        </script>
    {% endblock %}

    </body>
</html>
